*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, serif;
}

body{
    background-color: #CFDBEA;
    height: 100vh;
}
.form{
    width: 100%;
}
.list{
    display: none;
    justify-content: space-between;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* font-size: 32px; */
}
input{
    background-color: #EAEAEA;
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border: none;
    font-size: 16px;
    border-radius: 4px;
}
.box{
    width: 100%;
    max-width: 600px;
    padding: 40px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    
}
header p{
    text-align: center;

}
h1{
    color: rgb(72, 72, 187);
}
h1,button,p{
  
    margin: 9px;
}

.form a{
    display: block;
    text-align: center;
    margin-top: 24px;
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
}

.list {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.list th, .list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.list th {
    background-color: #f2f2f2;
}

.delete-btn, .edit-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.delete-btn {
    background-color: #ff4444;
    color: white;
}

.edit-btn {
    background-color: #44ff44;
    color: white;
    margin-right: 5px;
}

